body {
  background-color: #141414;
  margin: 0;
}


#root {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.questions {
  width: 100%;
  color: #e5e5e5;
}
